<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('库存整机列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <input id="apparType" name="apparType" type="hidden" th:value="${apparType}" />
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>机器型号：</p>
                                <input type="text" name="apparName"/>
                            </li>
<!--                            <li>-->
<!--                                <p>机器类型：</p>-->
<!--                                <select name="apparType" id="apparType">-->

<!--                                </select>-->
<!--                            </li>-->
                            <li class="select-time">
                                <p>入库时间：</p>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTransTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTransTime]"/>
                            </li>
                            <li>
                                <p>SN码：</p>
                                <input type="text" name="sn"/>
                            </li>
                            <li>
                                <p>是否已出库：</p>
                                <select name="isTrans" id="isTrans">

                                </select>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="store:apparatus:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="store:apparatus:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="store:apparatus:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="store:apparatus:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript" src="../../static/js/commonUtils.js" th:src="@{/js/commonUtils.js}"></script>
    <script th:inline="javascript">
        dicSelectVal("apparType", "apparType");
        dicSelectVal("isTrans", "sys_yes_no");

        var editFlag = [[${@permission.hasPermi('store:apparatus:edit')}]];
        var removeFlag = [[${@permission.hasPermi('store:apparatus:remove')}]];
        var prefix = ctx + "store/apparatus";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "库存整机",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : '主键',
                    visible: false
                },
                {
                    field : 'apparName', 
                    title : '机器型号'
                },
                {
                    field : 'apparType', 
                    title : '机器类型',
                    formatter: function(value, row, index) {
                        return getDicNameByDataBase("apparType", value);
                    }
                },
                {
                    field : 'transTime', 
                    title : '入库时间'
                },
                {
                    field : 'sn', 
                    title : 'SN码'
                },
                {
                    field : 'isTrans', 
                    title : '是否已出库',
                    formatter: function(value, row, index) {
                        return transDicValToName("isTrans", value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>